.display-event {
	min-height: 400px;
	max-height: 400px;
	min-width: 900x;
	overflow-y: auto;
	border-color: rgba(0, 0, 0, 0.12);
	border-width: 1px;
	border-style: solid;
}

.white-space {
	white-space: pre;
	font-family: monospace, Consolas, Monaco;
}